@font-face {
    font-family: "anakinmono";
    src: url("./media/fonts/anakinmono.eot") format("eot"),
        url("./media/fonts/anakinmono.otf") format("otf"),
        url("./media/fonts/anakinmono.svg") format("svg"),
        url("./media/fonts/anakinmono.woff") format("woff");
}


/* Page start.html */
body {
    background: url(./media/galaxytiny.jpg);
    background-size: cover;
}

h1 {
    margin-top: 50px;
}


.lancer_le_jeux {
    font-family: "anakinmono";
    font-size: 1rem;
    color: white;
}

#imageYoda {
    height: 500px;
}

.button_start a {
    text-decoration: none;
    color: #ffffff;
}

.cont_relative {


    position: relative;
}

/* Page index.html */
.champ_nombre {
    width: 300px;
    height: 50px
}

.saisie {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px white
}

.retour {

    color: #ffffff;
    font-family: "anakinmono";
    height: 400px
}
.text{
    color: #ffffff;
    font-family: "anakinmono";
}
.spanPlus{
    font-weight: bold;
    text-transform: uppercase;
    color: greenyellow;
}
.spanMoins{
    font-weight: bold;
    text-transform: uppercase;
    color: red;
}
#coupsRestant{
    font-size: 30px;
    font-weight: bold;
    color: green;
}

.classPara {
    font-weight: bold;
    font-size: 1.5rem;
    border: solid;
    margin: 5px;
    padding: 10px;
    padding-top: 20px;

}